<!--Footer-->
	<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
	    <!--Footer Links-->
	    <div class="container-fluid text-center text-md-left">
	        <div class="row">

				<div class="col-md-2 mx-auto">
		        	<h3 class="text-uppercase mb-4 mt-3">楊筱絜</h3>
	        		<p>考上社會眼紅的台大電機，再說不想當工程師。</p>
	        		<p>做個毫無相關的職業，並把會的程式語言，用來與他人溝通這堆狗屎的現實。</p>
	        	</div>

	        	<div class="col-md-3 mx-auto">
	        		<img src="images/founder_profile.jpg" class="img-fluid rounded-circle">
	        	</div>

	            <div class="col-md-2 mx-auto">
	                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">我不想被教育</h5>
	                <p>「在佈滿預兆與星星的夜空下，我第一次敞開心胸，欣然接受這世界溫柔的冷漠。體會到我與這份冷漠又多貼近，簡直親如手足。」</p>
					<p>——卡繆 《異鄉人》</p>
	            </div>

	            
	            <div class="col-md-2 mx-auto text-center">
	                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">友站連結</h5>
	                <ul class="list-unstyled">
	                    <li class="mt-2">
	                        <a href="https://www.ptt.cc/bbs/Gossiping/index.html">精神糧食</a>
	                    </li>
	                    <li class="mt-2">
	                       <a href="FuckMyDreams.html">追尋夢想</a>
	                    </li>
	                    <li class="mt-2">
	                        <a href="https://www.youtube.com/channel/UCIdhd_1spj49unBWx1fjS2A">求學歷程</a>
	                    </li>
	                    <li class="mt-2">
	                        <a href="https://www.youtube.com/channel/UCj_z-Zeqk8LfwVxx0MUdL-Q">職涯規劃</a>
	                    </li>
	                </ul>
	            </div>
	            
	        </div>
	    </div>
	    <!--/.Footer Links-->

	    <hr>

	    <!--Call to action-->
	    <div class="text-center py-3">
	        <ul class="list-unstyled list-inline mb-0">
	            <li class="list-inline-item">
	                <h5 class="mb-1">Register for free</h5>
	            </li>
	            <li class="list-inline-item">
	                <a href="#!" class="btn btn-danger btn-rounded sr-button">Sign up!</a>
	            </li>
	        </ul>
	    </div>
	    <!--/.Call to action-->

	    <hr>

	    <!--Social buttons-->
	    <div class="text-center">
	        <ul class="list-unstyled list-inline">
	            <li class="list-inline-item">
	                <a class="btn-floating btn-sm btn-facebook mx-1" href="https://www.facebook.com/">
	                    <i class="fa fa-facebook sr-icons"> </i>
	                </a>
	            </li>
	            <li class="list-inline-item">
	                <a class="btn-floating btn-sm btn-github mx-1" href="https://github.com/">
	                    <i class="fa fa-github sr-icons"> </i>
	                </a>
	            </li>
	            <li class="list-inline-item">
	                <a class="btn-floating btn-sm btn-instagram mx-1" href="https://www.instagram.com/?hl=zh-tw">
	                    <i class="fa fa-instagram sr-icons"> </i>
	                </a>
	            </li>
	            <li class="list-inline-item">
	                <a class="btn-floating btn-sm btn-twitter mx-1" href="https://twitter.com/?lang=zh-tw">
	                    <i class="fa fa-twitter sr-icons"> </i>
	                </a>
	            </li>
	            <li class="list-inline-item">
	                <a class="btn-floating btn-sm btn-google mx-1" href="https://www.google.com.tw/">
	                    <i class="fa fa-google sr-icons"> </i>
	                </a>
	            </li>
	        </ul>
	    </div>
	    <!--/.Social buttons-->
	    <!--Copyright-->
	    <div class="footer-copyright py-3 text-center">
	        © 2018 fuckitright:
	        <a href=""> SHIT.com </a>
	    </div>
	    <!--/.Copyright-->

	</footer>
	<!--/.Footer-->

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

    <script type="text/javascript" src="js/shit.js"></script>

    <!-- <script type="text/javascript" src="../public/javascripts/bootstrap.min.js"></script> -->
</body>

</html>